---
import wsp from "../../assets/whatsapp-icon.png"
---

<body>
    <a href="https://api.whatsapp.com/send?phone=+584129124054&text=Hola,%20me%20gustar%C3%ADa%20obtener%20m%C3%A1s%20informaci%C3%B3n"
   class="fixed bottom-5 right-5 w-18 h-18 bg-[#25d366] rounded-full flex items-center justify-center shadow-lg z-[9999]"
   target="_blank">
   <img src={wsp.src} alt="WhatsApp" class="w-[60px] h-[60px]">
</a>
</body>

